* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30%;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding-inline: 15%;
  margin-bottom: 25px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278px;
  max-width: 278px;
  border-radius: 6px;
  padding-inline: 15px;
  background-color: #efefef;
  border: 1px solid black;
}

.input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 14px;
  background-color: #efefef;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #8e8e8e;
  font-weight: 100;
  line-height: 18px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22%;
}
@media (max-width:425px) {
  .search{
    display: none;
  }
  .Header{
    padding-inline: 0;
    margin: 15px 0 0;
    column-gap: 25%;
    border: none;
  }
}