.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.navBar ul {
  display: flex;
  list-style: none;
  column-gap: 12%;
}
.navBar li {
  text-decoration: none;
}
.mobilemessageLogo {
  display: none;
}
@media (max-width: 425px) {
  .hidden {
    display: none;
  }
  .mobilemessageLogo {
    display: inline-block;
  }
  .navBar {
    padding: 10px;
  }
}
