.main {
  margin-inline: 21%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 8px;
}

@media (max-width:400px){
  .rightside{
    display: none;
  }
  .main{
    width: 390px;
    margin: 0px;
  }
  .hidden{
    display: none;
  }

}
