* {
  font-size: 14px;
  color: #161722;
}
.Postcard {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background-color: #ffffff;
  width: 490.3px;
}

.post-header {
  display: flex;
  padding: 3px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  row-gap: 10px;
}

.username {
  margin-left: 10px;
  font-weight: bold;
}

.post-image {
  width: 100%;

}
.post-content {
  padding: 8px;
}

.post-icon-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 0;
  
}

.bargroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bargroup .icon {
  width: 100%;
  padding-right: 16px;
  cursor: pointer; 
}

.post-relation > * {
  margin-bottom: 10px;
}
.view-comments,
.post-time {
  color: #8a8a8a;
  cursor: pointer;
}

.light-color {
  color: #8a8a8a;
}
.post-time {
  font-size: 10px;
}
.publish-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #d9d9d9;
  padding: 5px;
}

.comment-input {
  flex: 1;
  padding: 10px;
  border: none;
}
.comment-input:focus {
  outline: none;
}
.comment-input::placeholder {
  color: #8a8a8a;
}

.publish-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #b3dbff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.publish-button:hover {
  background-color: #f0f0f0;
}
.publish-button:active {
  background-color: #b3dbff;
  color: #ffffff;
}
