/* Grid.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  width: calc(100% - 40px);
  

}

.grid-item {
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-image,
.grid-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


